
.card-product {
    border-radius: 27px;
    width: 93%;
    height: 336px;
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.2);
    transition: .5s;
    margin: 65px 0px;
 }





 .card-product:hover {
    
    box-shadow: 0 7px 15px rgb(0 0 0 / 25%);
 }

 .card-product:hover .add-cart-btn {
    animation: 1.5s fadeIn;
    animation-fill-mode: forwards;

 }



 .product-image{
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: translate(0px, -156px);
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
    }

 .product-image img{
    display: block;
    width: 100%;
    height: 10rem;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    cursor: pointer;
 }
    
 .images-container {
    /* transform: translatey(-31px) translateX(55px) rotate(25deg); */
    transform: translatey(-26px) translateX(-20px) rotate(-17deg);
    width: 22%;
    height: 156px;
    z-index: 2;
    position: relative;
 }
 
 .images-container img {
   position: absolute;
   border-radius: 18px;
   border: 2px solid rgba(255, 255, 255,0.7);
   width: 130px;
   box-shadow: 3px 4px 16px rgba(0,0,0,0.3)
 }


 .images-container img:nth-child(1){
    /* transform: rotate(-53deg); */
    transform: rotate(-35deg); 
    z-index: 2;
  }
  
  .images-container img:nth-child(2){
    /* transform: rotate(-11deg) translateX(48px) translateY(-27px); */
    transform: rotate(0deg) translateX(49px) translateY(-14px);
    z-index: 1;
  }
  
  .images-container img:nth-child(3){
      /* transform: rotate(5deg) translateX(83px) translateY(-45px); */
      transform: rotate(40deg) translateX(74px) translateY(-49px);
    z-index: 0;
  }
  
  .headline {
    transform: translate(0px, -134px);
    font-family: monospace;
    font-size: 17px;
    line-height: 1.23;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    text-shadow: 0 4px 8px rgb(0 0 0 / 30%);
    font-family: 'JuliusSansOne';
    padding-left: 10px;
  }

  .headline  p:nth-child(1){font-weight: 100;font-size: 14px;text-align: left;;margin-bottom: 8px;}
  .headline  p:nth-child(2){font-weight: 600;text-align: left;;}
  .headline  p:nth-child(3){font-family: 'AvenirL';font-weight: 100;color: #cc3333;text-align: left;}

  
  .add-cart-btn {
    visibility: hidden;
    opacity: 0;
    display: grid;
    width: 100%;
    height: 59px;
    border: 1px solid rgba(255,255,255,0.5);
    place-items: center;
    position: relative;
    top: -129px;
    font-family: 'JuliusSansOne';
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1px;
    border-top: 1px black solid;
    
  }

  @keyframes fadeIn {
    
    to { opacity: 1;visibility: visible; }
    }
  
  .add-cart-btn button {
    color: rgb(0, 0, 0);
    font-size: 21px;
    grid-column: 3/7;
    cursor: pointer;
  }

  .add-cart-btn span {
    grid-column: 1/3;
    font-size: 16px;
  }



  .add-cart-btn button::after{
    content: '';
    background-color: black;
    display: block;
    height: 0.5px;
    width: 0%;
    left: 0;
    bottom: 0;
    transition: 0.5s ease-out;

}


.add-cart-btn button:hover:after{
    width: 100%;
}

.add-cart-btn:hover  button {
    
}
  
  


@media screen and (max-width: 719px) 
{
    .product-image img{height: 8rem;}
    .card-product {height: 17.5rem !important;}
    .headline {height: 98px;}
}

@media screen and (max-width: 581px) 
{
    .product-image img{height: unset;aspect-ratio: 5.5 / 3}
    .card-product {height: 23.5rem !important;}
   

}
@media screen and (max-width: 570px) 
{
    .product-image img{height: unset;aspect-ratio: 5.5 / 3}
    .card-product {height: calc(42% - 30% + 62% - 2rem) !important;}
   
}
@media screen and (max-width: 400px) 
{
    .product-image img{height: unset;aspect-ratio: 5.5 / 3}
    .card-product {height: calc(252px - 30% + 62% - 2rem)  !important;margin: unset !important;}
   
}