#searchAndCreate-container
{
        
}



#searchAndCreate-search
{
    background: brown;
    border-radius: 40px;
    width: max-content;
    place-self: center;
}



#searchAndCreate-create
{
    grid-area: 2/1/2/6;
    width: 100%;
    height: 100px;
}


#create-wrapper
{
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}


#create-p
{
    display: grid;
    height: 81px;
    justify-content: center;
    width: 230px;
    background: antiquewhite;
    align-content: center;
    border-radius: 17px;
    font-family: 'AvenirL';
    cursor: pointer;
    position: fixed;
    transform: rotateZ(-90deg);
    transform-origin: right;
    right: 52px;
    bottom: 199px;
    z-index: 99;
    
}










#search-show-con
{
    display: none;
    position: absolute;
    width: 32rem;
    height: 10px;
    background: #a52a2a;
    z-index: 5;
    transform: translate(calc((91vh / 2) - 27rem ), 27%);
    border-radius: 27px;
    padding: 20px;
    transition: all 2s;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: repeat(3,1fr);
}




.search
{
    padding: 30px;
}



.search > div 
{
    display: grid;
    position: relative;
    filter: drop-shadow(0 1px #0091c2);
}
  
.search > div:after 
{
    content: "";
    background: white;
    width: 4px;
    height: 20px;
    position: absolute;
    top: 43px;
    right: 0px;
    transform: rotate(135deg);
}
  
.search > div > input 
{
    color: white;
    font-size: 16px;
    background: transparent;
    width: 52px;
    height: 52px;
    padding: 10px;
    border: solid 3px white;
    outline: none;
    border-radius: 35px;
    transition: width 0.5s;
}
  
.search > div > input::placeholder 
{
    color: #efefef;
    opacity: 0;
    transition: opacity 150ms ease-out;
}
  
.search > div > input:focus::placeholder 
{
    opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) 
{
    width: 59vh;
    max-width: 66vw;
}

@media screen and (max-width: 2240px) 
{
    .search > div > input:focus,.search > div > input:not(:placeholder-shown){width: 59vh;max-width: 66vw;}
    #search-show-con{transform: translate(calc((91vh / 2) - 30rem ), 27%);}
}
@media screen and (max-width: 1555px){#search-show-con{transform: translate(calc((91vh / 2) - 31rem ), 27%);}}
@media screen and (max-width: 1500px){#search-show-con{transform: translate(calc((91vh / 2) - 32rem ), 27%);}}
@media screen and (max-width: 1415px){#search-show-con{transform: translate(calc((91vh / 2) - 34rem ), 27%);}}
@media screen and (max-width: 1370px){#search-show-con{transform: translate(calc((91vh / 2) - 36rem ), 27%);}}
@media screen and (max-width: 1275px){#search-show-con{transform: translate(calc((91vh / 2) - 42rem ), 27%);}}
@media screen and (max-width: 1101px){#search-show-con{transform: translate(calc((91vh / 2) - 49rem ), 27%);}}
@media screen and (max-width: 1050px){#search-show-con{transform: translate(calc((91vh / 2) - 48rem ), 27%);}}
@media screen and (max-width: 986px){#search-show-con{transform: translate(calc((91vh / 2) - 46rem ), 27%);}}
@media screen and (max-width: 921px){#search-show-con{transform: translate(calc((91vh / 2) - 51rem ), 27%);}}
@media screen and (max-width: 791px){#search-show-con{transform: translate(calc((91vh / 2) - 50rem ), 27%);}}
@media screen and (max-width: 756px){#search-show-con{transform: translate(calc((91vh / 2) - 49rem ), 27%);}}
@media screen and (max-width: 723px){#search-show-con{transform: translate(calc((91vh / 2) - 48.5rem ), 27%);}}
@media screen and (max-width: 705px){#search-show-con{transform: translate(calc((91vh / 2) - 47.5rem ), 27%);}}
@media screen and (max-width: 667px){#search-show-con{transform: translate(calc((91vh / 2) - 46.5rem ), 27%);}}
@media screen and (max-width: 649px){#search-show-con{transform: translate(calc((91vh / 2) - 46.5rem ), 27%);}}
@media screen and (max-width: 621px){#search-show-con{transform: translate(calc((91vh / 2) - 50.5rem ), 27%);}}








#filtered-product
{
    background: #0000004f;
    border-radius: 20px;
    width: 7rem;
    margin-bottom: 11px;
    display: none;
    transition: all 1s;
    scale: 0;
    max-height: 9rem;
    cursor: pointer;
}


#filtered-product img
{
    display: block;
    width: 7rem;
    height: 5rem;
    object-fit: cover;
    aspect-ratio: 4 / 3;
    
    border-radius: 20px;
}


#filtered-product p
{
    width: 7rem;
    height: 4rem;
    font-size: 16px;
    font-family: 'AvenirL';
    padding: 7px;
    line-height: 23px;
}
    @media screen and (max-width: 1000px){#filtered-product{max-height: 10rem;}}
