.nav-icon--menu{
    
}


.nav-icon--menu header{display: block;}

.nav-icon--menu  span{font-family: 'JuliusSansOne'; font-size: 13px;}





.icon-menu-button{
    cursor: pointer;
    z-index: 999;
    position: relative;
    font-size: 32px;
    font-style: italic;
    text-decoration: underline;
}

@media screen and (max-width: 500px) {.nav-icon--menu button{font-size: 1rem;}}